<!-- Header -->
<div class="header bg-gradient-primary pb-3 pt-5 pt-md-7 header pb-8 pt-5 pt-lg-7 d-flex align-items-center" >
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-1"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
      </div>
    </div>
  </div>
</div>
