<!-- Header -->
<div class="header pb-8 pt-5 pt-lg-7 d-flex align-items-center" style="background-image: url(img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
      </div>
    </div>
  </div>
</div>
