              <!--Documentação-->
              <section id = "doc-calendar-sidebar" class="accordion-section clearfix mt-3" aria-label="Question Accordions">
                <div class="container">
      
                  <h2 class="titulo">Documentação - Calendário </h2>
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    
                        <div class="panel panel-default">
                                <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                                  <h3 class="panel-title">
                                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                                      href="#calendar1" aria-expanded="true" aria-controls="calendar1">
                                      Calendário
                                    </a>
                                  </h3>
                                </div>
              
                                <div id="calendar1" role="tabpanel" aria-labelledby="heading1">
                                  <div class="panel-body px-3 mb-4">
                                    <p>As funções do calendário são as mesma do menu principal.
                                    Naturalmente o calendário é apresentado de acordo com o mês, porém é possivel altenar entre as consultas do MÊS, SEMANA, DIA ou apenas as consulta isoladas.</p>
                                    <li>Para ver as consultas da SEMANA basta clicar em <img src="img/doc/calendar/semana.png"></li>
                                    <li>Para ver as consultas do DIA basta clicar em <img src="img/doc/calendar/Dia.png"></li>
                                    <li>Para ver todas as consultas basta clicar em <img src="img/doc/calendar/Consultas.png"></li>
                                    <li>Para avançar um mês, semana ou dia basta clicar em <img src="img/doc/calendar/proximo.png"></li>
                                    <li>Para voltar um mês, semana ou dia basta clicar em <img src="img/doc/calendar/anterior.png"></li>
                                    <li>Para ver a data do dia em questão basta clicar em  <img src="img/doc/calendar/hoje.png"></li>

                                </div>
                                </div>
                              </div>

                              <div class="panel panel-default">
                                    <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                        <h3 class="panel-title">
                                            <a class="collapsed" role="button" title="" data-toggle="collapse"
                                                data-parent="#accordion" href="#calendar2" aria-expanded="true"
                                                aria-controls="calendar2">
                                                Consultas da Semana
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="calendar2" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="heading2">
                                        <div class="panel-body px-3 mb-4">
                                            <p>Clicando no botão <img src="img/doc/calendar/semana.png"> será exibido uma 
                                                tela com os sete dias de semana e um intervalo de horário das 00 às 23:00 horas.
                                            </p>
                                            <p><img src="img/doc/calendar/listweek.png" width="100%"></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                        <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                            <h3 class="panel-title">
                                                <a class="collapsed" role="button" title="" data-toggle="collapse"
                                                    data-parent="#accordion" href="#calendar3" aria-expanded="true"
                                                    aria-controls="calendar3">
                                                    Consultas do Dia
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="calendar3" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="heading2">
                                            <div class="panel-body px-3 mb-4">
                                                <p>Clicando no botão <img src="img/doc/calendar/Dia.png"> será exibido uma 
                                                    tela com os o dia e um intervalo de horários das 00 às 23:00 horas.
                                                </p>
                                                <p><img src="img/doc/calendar/listday.png" width="100%"></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                            <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                                <h3 class="panel-title">
                                                    <a class="collapsed" role="button" title="" data-toggle="collapse"
                                                        data-parent="#accordion" href="#calendar4" aria-expanded="true"
                                                        aria-controls="calendar4">
                                                        Consultas de acordo com a semana
                                                    </a>
                                                </h3>
                                            </div>
                                            <div id="calendar4" class="panel-collapse collapse" role="tabpanel"
                                                aria-labelledby="heading2">
                                                <div class="panel-body px-3 mb-4">
                                                    <p>Clicando no botão <img src="img/doc/calendar/Consultas.png"> será as consulta daquela semana.
                                                    </p>
                                                    <p><img src="img/doc/calendar/listconsultweek.png" width="100%"></p>
                                                </div>
                                            </div>
                                        </div>
                    </div>
      
                  </div>
              </section>
