<div class="modal fade" id="faq-consult-filter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <!--Documentação-->
                <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
                    <div class="container">

                        <h2 class="titulo">Documentação - Consultas </h2>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                            <div class="panel panel-default">
                                <div id="collapse1" role="tabpanel" aria-labelledby="heading1">
                                    <div class="panel-body px-3 mb-4">
                                        <p>Nesta páginas são listado todas as consultas do sistema. Elas podem ser
                                            filtradas por NOME, DATA OU AMBOS.</p>
                                        <p>Para exibir os filtros basta clicar no botão <img
                                                src="img/doc/consult/filter01.png"> abrindo outras opções de busca</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse2" aria-expanded="true"
                                            aria-controls="collapse2">
                                            Buscando as consultas pelo nome
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading2">
                                    <div class="panel-body px-3 mb-4">
                                        <p>Para consultar pelo nome, clique em <img
                                                src="img/doc/consult/filtername.png"> e coloque o nome do paciente.
                                            (Caso coloque parte do nome o sistema irá retornar todos os usuário com a
                                            parte do nome descrito).
                                        </p>
                                        <p><img src="img/doc/consult/searchname.png" width="100%"></p>

                                        <p>Preencha o campo e clique em <img src="img/doc/consult/btnsearch.png">, será
                                            retorna a consulta na tabela logo abaixo.
                                        </p>
                                        <p><img src="img/doc/consult/listname.png" width="100%"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse3" aria-expanded="true"
                                            aria-controls="collapse3">
                                            Buscando as consultas pela data
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading2">
                                    <div class="panel-body px-3 mb-4">
                                        <p>Para consultar pela data, clique em <img
                                                src="img/doc/consult/filterdate.png"> e coloque o periodo desejado.

                                        </p>
                                        <p><img src="img/doc/consult/searchdate.png" width="100%"></p>

                                        <p>Preencha o campo e clique em <img src="img/doc/consult/btnsearch.png">, será
                                            retorna a consulta na tabela logo abaixo.
                                        </p>
                                        <p><img src="img/doc/consult/listdate.png" width="100%"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse4" aria-expanded="true"
                                            aria-controls="collapse4">
                                            Buscando as consultas pelo nome e data
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading2">
                                    <div class="panel-body px-3 mb-4">
                                        <p>Para consultar pelo nome, clique em <img
                                                src="img/doc/consult/filternamedate.png"> e coloque o nome do paciente e o periodo desejado.
                                            (Caso coloque parte do nome o sistema irá retornar todos os usuário com a
                                            parte do nome descrito).
                                        </p>
                                        <p><img src="img/doc/consult/searchnamedate.png" width="100%"></p>

                                        <p>Preencha o campo e clique em <img src="img/doc/consult/btnsearch.png">, será
                                            retorna a consulta na tabela logo abaixo.
                                        </p>
                                        <p><img src="img/doc/consult/listnamedate.png" width="100%"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>