<style>

</style>
<div class="modal fade" id="faq-list-complete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <!--Documentação-->
        <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
          <div class="container">

            <h2 class="titulo">Documentação - Lista das Consultas </h2>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                  <h3 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapse0">
                      Verificando consultas e Agendamentos Marcados
                    </a>
                  </h3>
                </div>
                <div id="collapse0" class="" role="tabpanel" aria-labelledby="heading0">
                  <div class="panel-body px-3 mb-4">
                    <p>Semelhante a tabela que está localizada ao lado do calendário, essa tabela exibe tanto as consultas quando agendamento sendo mais rica nas informações.</p>
                    <li>Para verificar as consultas do dia basta clicar no botão <img src="img/doc/tablecomplete/btndaycomplete.png"> </li>
                    <li>Para verificar as próximas do dia basta clicar no botão <img src="img/doc/tablecomplete/btnnexcomplete.png"></li>
                    <li>Para verificar todas as consultas basta clicar no botão<img src="img/doc/tablecomplete/btnallcomplete.png"></li>
                    <br>
                    <p>Na listagem temos 6 colunas onde são exibos  </p>
                    <li>Tipo -  Agendamento ou Consulta (Se confirmado é marcado como consulta, caso não é apenas um agendamento</li>
                    <li>Nome do Paciente - Também é encurtado caso ultrapasse o limite de 16 caracteres</li>
                    <li>Telefone do Paciente</li>
                    <li>Data e Hora da consulta ou Data e Hora sugeridas no agendamento</li>
                    <li>Nome do Estágiaio - Apenas para consultas confirmadas, em caso de agendamento o campo fica "Não Informado"</li>
                    <li>Usuário - Responsavel por marcar a consulta, caso paciente tenha solicitado o agendamento pela internet, no campo usuário aparecerá "PORTAL"</li>

                  </div>
                </div>

  
                <!-- <div class="panel panel-default">
                                <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                                  <h3 class="panel-title">
                                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                      Can Solodev CMS handle multiple websites for my company?
                                    </a>
                                  </h3>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                  <div class="panel-body px-3 mb-4">
                                    <p>Yes, Solodev CMS is built to handle the needs of any size company. With our Multi-Site Management, you will be able to easily manage all of your websites.</p>
                                  </div>
                                </div>
                              </div> -->
              </div>

            </div>
        </section>
      </div>
    </div>
  </div>
</div>