
          <!--Documentação-->
          <section id = "doc-consult-list"class="accordion-section clearfix mt-3" aria-label="Question Accordions">
            <div class="container">
  
              <h2 class="titulo">Documentação - Lista das Consultas Diárias </h2>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                    <h3 class="panel-title">
                      <a class="collapsed" >
                        Verificando as Consultas do Dia
                      </a>
                    </h3>
                  </div>
                  <div>
                    <div class="panel-body px-3 mb-4">
                      <p>Neste local são apresentados uma tabela listando no máximo 6 consultas já confirmadas.</p>
                      <p>Para verificar as consultas do dia bastas clicar no botão <img src="img/doc/tableday/btnday.png"> </p>
                      <p>Para verificar as próximas do dia bastas clicar no botão <img src="img/doc/tableday/btnnext.png"></p>
                      <p>Na listagem temos 3 colunas </p>
                      <li>Coluna Paciente - exibe o nome do paciente, caso ultrapasse o limite de caracter o nome é encurtado</li>
                      <li>Coluna Data - exibe o dia que ocorrerá a consulta</li>
                      <li>Coluna Hora - exibe a Hora marcada para consulta</li>
                      <br>
                      <p> Através da própria tabela podemos verificar os agendamentos que ainda não foram confirmados </p>
                      <li><img src="img/doc/tableday/qtdeschedules.png"></li>

                    </div>
                  </div>
  
    
                  <!-- <div class="panel panel-default">
                                  <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                                    <h3 class="panel-title">
                                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                        Can Solodev CMS handle multiple websites for my company?
                                      </a>
                                    </h3>
                                  </div>
                                  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                    <div class="panel-body px-3 mb-4">
                                      <p>Yes, Solodev CMS is built to handle the needs of any size company. With our Multi-Site Management, you will be able to easily manage all of your websites.</p>
                                    </div>
                                  </div>
                                </div> -->
                </div>
  
              </div>
            </div>

          </section>
