
        <!--Documentação-->
        <section id="calendar-page-main" class="accordion-section clearfix mt-3" aria-label="Question Accordions">
          <div class="container">

            <h2 class="titulo">Documentação - Calendário </h2>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                  <h3 class="panel-title">
                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                      href="#collapse6" aria-expanded="true" aria-controls="collapse6">
                      Ver as consultas no calendário
                    </a>
                  </h3>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                  <div class="panel-body px-3 mb-4">
                    <p>Para visualizar as consultas dentro do calendário é bem simples.</p>
                    <p>Toda vez que uma consulta é marcada ela automáticamente aparece no calendário da seguinte forma:
                    </p>
                    <ul>
                      <li><img src="/img/btnSchedule.jpg">(Agendamentos) - Consultas solicitadas porém não
                        confirmadas</li>
                      <li><img src="/img/doc/btnconsulta.jpg">(Consultas) - Consultas solicitadas e confirmadas pela
                        clínica</li>
                    </ul>
                    <p>Para ver mais informações da consulta, basta clicar em cima de um deles que será aberta um modal.
                    </p>

                    <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                      href="#consult-view" aria-expanded="true" aria-controls="collapse0">
                      Clique aqui para visualizar o exemplo
                    </a>
                    <div id="consult-view" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                      <div style="display:flex" class="panel-body px-3 mb-4">
                        <img src="/img/doc/detconsult.png" width="50%" class="mr-3">
                        <img src="/img/doc/detagend.png" width="30%">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

                <% if (user.NivelPermissaoId == 1 || user.NivelPermissaoId == 2) { %>

                <div class="panel panel-default">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse7" aria-expanded="true" aria-controls="collapse7">
                        Marcar ou agendar uma novo consulta
                      </a>
                    </h3>
                  </div>


                  <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                    <div class="panel-body px-3 mb-4">
                      <p>Para marcar uma consulta o até mesmo agendar o usuário deve clicar no botão <img
                          src="/img/btnnewconsult.jpg">. </p>
                      <p>Após isso será aberta uma janela solicitando algumas informações do usuário.</p>
                      <p>Marcando Consulta do Paciente</p>
                      <img src="/img/doc/newconsult.png" width="100%">
                      <p>Os campos obrigatórios são: </p>
                      <li>Nome do paciente, data da consulta, horário, estagiário e tipo de caonsulta </li>

                      <p>Marcando Agendamento do Paciente</p>
                      <img src="/img/doc/newschedule.png" width="100%">
                      <p>Os campos obrigatórios são: </p>
                      <li>Nome do paciente, data da consulta, horário</li>

                      <p>Para finalizar basta clicar no botão <img src="/img/doc/salvarconsulta.png"> </p>


                      </p>
                    </div>
                  </div>

                </div>
                <div class="panel panel-default">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse8" aria-expanded="true" aria-controls="collapse8">
                        Cancelar a Consulta ou Agendamento
                      </a>
                    </h3>
                  </div>
                  <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body px-3 mb-4">
                      <p>Diferentemente de um agendamente que pode ser excluido, a consulta ela não pode ser excluir,
                        apenas cancelada ficando registrada no sistema.</p>
                      <p>Para cancelar uma consulta o usário deve clicar na consulta e será aberta uma janela com suas
                        informações</p>
                      <div style="flex-wrap: wrap;">
                          <p><img src="/img/doc/detagend.png"></p>
                          <p>Para cancelar basta clicar no botão <img src="/img/doc/btndelete.png">. Será exibido uma
                            janela de confirmação, caso confirme o agendamento é excluir. O mesmo procedimento vale para
                            uma consulta confirmada</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse9" aria-expanded="true" aria-controls="collapse9">
                        Confirmar ou Alterar a Consulta
                      </a>
                    </h3>
                  </div>
                  <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body px-3 mb-4">
                      <p>Apenas funcionarios podem confirmar ou alterar uma consulta. Para confirmar uma consulta voce deve clicar no agendamento que deseja validar</p>
                      <p>Quando abrir a janela clica no botão <img src="/img/doc/btnconfirma.png">. Após clicar a janela será expandida solicitando algumas informações como estágiario e tipo da consulta</p>
                      <img src="/img/doc/detagend.png" width="49%" class="mr-3">
                       -> 
                      <img src="/img/doc/salvarconfirmacao.png" width="45%">
                      <p>Para salvar as alterações e validar a consulta basta clicar no botão <img src="/img/doc/btnconfirmaagend.png"></p>
                    </div>
                  </div>
                </div>

                <% } else if (user.NivelPermissaoId == 4 ) { %>
                  <div class="panel panel-default">
                      <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                        <h3 class="panel-title">
                          <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                            href="#schedulepatient" aria-expanded="true" aria-controls="schedulepatient">
                            Solicitar uma consulta
                          </a>
                        </h3>
                      </div>
    
    
                      <div id="schedulepatient" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                        <div class="panel-body px-3 mb-4">
                          <p>Para solicitar uma consulta o paciente deve clicar no botão <img
                              src="/img/doc/btnnewconsult.png">. </p>
                          <p>Após isso será aberta uma janela solicitando algumas informações do usuário.</p>
                          <p>Solicitando a consulta</p>
                          <img src="/img/doc/schedule-patient.png" width="50%">
                          <p>Os campos obrigatórios são: </p>
                          <li>Data desejada  - O paciente deve informar qual dia gostaria de fazer a consulta</li>
                          <li>Horário Desejado - O paciente a que horas gostaria que fosse o entendimento</li>
                          <li>Horário Final  - Caso não tenha um horário o paciente pode definir um intervalo de horario.</li>
                          <li>Exemplo das 08:00 até 12:00 - O horário Desejado é 08:00 e o final é as 12:00, a clínica irá marcar um atendimento dentro desse horário</li>
                          <li>Observação - Opcional</li>
    
                          <p>Para finalizar basta clicar no botão <img src="/img/doc/salvarconsulta.png"> </p>
    
    
                          </p>
                        </div>
                      </div>
    
                    </div>
                <% } %>

                <div class="panel panel-default">
                  <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                    <h3 class="panel-title">
                      <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                        href="#collapse10" aria-expanded="true" aria-controls="collapse10">
                        Legenda de cores
                      </a>
                    </h3>
                  </div>
                  <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                    <div class="panel-body px-3 mb-4">
                        <a class="dropdown-item">
                            <span class="dot-consult"></span>
                            <span class="dot">Consulta</span>
                        </a>
                        <a class="dropdown-item">
                            <span class="dot-schedule"></span>
                            <span class="dot">Agendamento</span>
                        </a>
                        <a class="dropdown-item">
                            <span class="dot-cancel"></span>
                            <span class="dot">Cancelado</span>
                        </a>
                        <a class="dropdown-item">
                            <span class="dot-completed"></span>
                            <span class="dot">Concluido</span>
                        </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </section>
