<style>

</style>
<div class="modal fade" id="faq-start" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <!--Documentação-->
                <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
                    <div class="container">

                        <h2 class="titulo">Documentação - Ínicio </h2>
                        <div style="text-align:justify"  class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse"
                                            data-parent="#accordion" aria-expanded="true" aria-controls="collapse0">
                                            Iniciando com o sistema Clínica Escola.
                                        </a>
                                    </h3>
                                </div>
                                <div  id="collapse0" class="" role="tabpanel" aria-labelledby="heading0">
                                    <div class="panel-body px-3 mb-4">
                                        <p>Bem Vindos ao sistema Clínica Escola!, estou aqui para ajuda-lós na
                                            utilização dos recursos da aplicação.</p>
                                        <p>Cada função da aplicação e cada página possui o seguinte botão <img src="img/doc/painel/btninfo.png">. Clicando nele
                                            irá aparecer uma janela mostrando as funções naquela instância</p>
                                        <li>Agendamento - São as solicitação de
                                            consultas feitas pelos pacientes que ainda não foram confirmados pela
                                            clínica.</li>
                                        <li>Consulta - São os agendamento confirmados pela clínica.
                                        </li>
                                        <br>
                                    </div>

                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse2" aria-expanded="true"
                                            aria-controls="collapse2">
                                            Entendendo os Menus.
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading2">
                                    <div class="panel-body px-3 mb-4">
                                        <p>Os menus varia de acordo com o nivel de permissão do usuário logado.
                                            Os Supervisores e secretária tem o menu com mais variedades.
                                            Os Estágiarios são o segundo com mais número de itens no menu.
                                            Por fim o Paciente com um número limitado de ações, buscando facilitar a sua
                                            utilização</p>
                                        <p><img src="img/doc/painel/Menus.png"></p>

                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse3" aria-expanded="true"
                                            aria-controls="collapse3">
                                            Entendendo o Calendário.
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading2">
                                    <div class="panel-body px-3 mb-4">
                                        <p>O calendário pode ser encontrado tanto na página inicial quando no menu
                                            calendário onde é possivel encontrar mais funções.
                                            É no calendário que o usuário pode ver as consultas marcadas ou solicitadas
                                            por um paciente. Além de pode também fazer o gerenciamento delas
                                        </p>
                                        <p><img src="img/doc/painel/calendar.png"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse4" aria-expanded="true"
                                            aria-controls="collapse4">
                                            Entendendo a Tabela Resumida.
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading2">
                                    <div class="panel-body px-3 mb-4">
                                        <p>A tabela resumida é uma lista das 6 (seis) próximas consultas marcadas</p>
                                        <p><img src="img/doc/painel/tableres.png"></p>"

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                    <h3 class="panel-title">
                                        <a class="collapsed" role="button" title="" data-toggle="collapse"
                                            data-parent="#accordion" href="#collapse5" aria-expanded="true"
                                            aria-controls="collapse5">
                                            Entendendo a Tabela completa.
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse" role="tabpanel"
                                    aria-labelledby="heading2">
                                    <div class="panel-body px-3 mb-4">
                                        <p>A tabela completa da mesma forma que parecida com aresumida apresenta as 6
                                            próximas consultas. Todavia ela também nos mostra as consultas solicitadas
                                            pelo paciente. </p>
                                        <p><img src="img/doc/painel/tableprinc.png" width="100%"></p>"

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>
            </div>
        </div>
    </div>
</div>