<div class="modal fade" id="faq-patient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
    
                    <!--Documentação-->
                    <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
                        <div class="container">
    
                            <h2 class="titulo">Documentação - Pacientes </h2>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
    
                                <div class="panel panel-default">
                                    <div id="collapse1" role="tabpanel" aria-labelledby="heading1">
                                        <div class="panel-body px-3 mb-4">
                                            <p>Nesta páginas são mostrado todos os pacientes cadastrados no sistema. Apenas o supervisor ou secretária podem acessar essa página.</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="panel panel-default">
                                    <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                        <h3 class="panel-title">
                                            <a class="collapsed" role="button" title="" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapse2" aria-expanded="true"
                                                aria-controls="collapse2">
                                                Cadastrando um novo Paciente.
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="heading2">
                                        <div class="panel-body px-3 mb-4">
                                            <p>Para cadastrar um novo paciente, clique em <img
                                                    src="img/doc/btnregister.png"> para ser redirecionado para o formulário de cadastro do paciente
                                            </p>
                                            <p>Nesse campo são solicitados as informações pessoais do paciente</p>
                                            <p><img src="img/doc/patient/registerpart1.png" width="100%"></p>
    
                                            <p>Nesse campo são solicitados as informações de localização. Digite o CEP e aperte TAB para buscar automaticamente o endereço.</p>
                                            <p><img src="img/doc/patient/registerpart2.png" width="100%"></p>
    
                                            <p>Por fim, os dados de usuário para acessar o sistema, caso o E-mail já exista é retornado a seguinte mensagem </p>
                                            <p><img src="img/doc/patient/registerpart3.png" width="100%"></p>
                                            
                                            <p>Para salvar basta clicar no botão <img src="img/doc/save.png"></p></p>

                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                        <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                            <h3 class="panel-title">
                                                <a class="collapsed" role="button" title="" data-toggle="collapse"
                                                    data-parent="#accordion" href="#collapse3" aria-expanded="true"
                                                    aria-controls="collapse3">
                                                    Alterando os dados do Paciente.
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="heading2">
                                        <div class="panel-body px-3 mb-4">
                                                <p>Para alterar as informações, clique em <img
                                                        src="img/doc/view.png"> para ser redirecionado para o formulário com as informações do paciente
                                                </p>
                                                <p><img src="img/doc/patient/updatep1.png" width="100%"></p>
                                                <p><img src="img/doc/patient/updatep2.png" width="100%"></p>
                                                <p><img src="img/doc/patient/updatep3.png" width="100%"></p>
                                                <p>Normalmente os campos estão desabilitados, para habilita-los clique em <img src="img/doc/enableupdate.png" ></p></p>
                                                <p>Para salvar as alterações basta clicar no botão <img src="img/doc/saveupdate.png"></p>
                                            </div>
                                        </div>

                                    </div>
    
                                <div class="panel panel-default">
                                    <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                        <h3 class="panel-title">
                                            <a class="collapsed" role="button" title="" data-toggle="collapse"
                                                data-parent="#accordion" href="#collapse4" aria-expanded="true"
                                                aria-controls="collapse4">
                                                Buscando um paciente
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel"
                                        aria-labelledby="heading2">
                                        <div class="panel-body px-3 mb-4">
                                                <p>Para buscar um paciente, clique em <img
                                                        src="img/doc/consult/filtername.png"> e coloque o nome do paciente.
                                                    (Caso coloque parte do nome o sistema irá retornar todos os usuário com a
                                                    parte do nome descrito).
                                                </p>
                                                <p><img src="img/doc/consult/searchname.png" width="100%"></p>
        
                                                <p>Preencha o campo e clique em <img src="img/doc/btnsearch.png">, será
                                                    retorna a consulta na tabela logo abaixo.
                                                </p>
                                                <p><img src="img/doc/patient/listpatient.png" width="100%"></p>
                                            </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                        <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                                            <h3 class="panel-title">
                                                <a class="collapsed" role="button" title="" data-toggle="collapse"
                                                    data-parent="#accordion" href="#collapse5" aria-expanded="true"
                                                    aria-controls="collapse5">
                                                    Excluindo o Paciente.
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="collapse5" class="panel-collapse collapse" role="tabpanel"
                                            aria-labelledby="heading2">
                                            <div class="panel-body px-3 mb-4">
                                                <p>Para excluir um paciente, clique em <img
                                                        src="img/doc/delete.png">, será exibido uma janela de confirmação.
                                                </p>
                                                <p><img src="img/doc/confirm.png"></p>
                                                <p>
                                                    Não é possivel deletar um paciente com vinculo a uma consulta, sendo retornado a seguinte mensagem <img src="img/doc/patient/messageerror.png">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                            </div>
    
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>