<!DOCTYPE html>
<html>

<% include ../../layout %>


<body>
                <% include ./faqpainel %>

                <% include ./faqmodal %>

                <% include ./faqcalendar %>

                <% include ./faqcomplete %>

                <% include ./faqlist %>

                <% include ./faqpatient %>

                <% include ./faqconsult %>

 
  <!-- Include scripts -->
  <% include ../scripts %>

</body>

</html>