<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
    <a class="dropdown-item">
        <span class="dot-consult"></span>
        <span class="dot">Consulta</span>
    </a>
    <a class="dropdown-item">
        <span class="dot-schedule"></span>
        <span class="dot">Agendamento</span>
    </a>
    <a class="dropdown-item">
        <span class="dot-consult"></span>
        <span class="dot">Cancelado</span>
    </a>
    <a class="dropdown-item">
        <span class="dot-consult"></span>
        <span class="dot">Concluido</span>
    </a>
</div>