<% if (success_msg.length > 0) { %>
<div  class="alert alert-success"><%= success_msg %></div>
<% } else if (success_msg.length > 0) {%>
<div  class="alert alert-danger"><%= error_msg %></div>
<% } %>