<!DOCTYPE html>
<html>
<% include ../layout %>

<body>
  <!-- Sidenav -->
  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!-- Header -->
    <% include ../partials/header %>
    <!-- Page content -->
    <div class="container-fluid mt--7 pt-md-6">
      <div class="row">
        <div class="col-lg-7 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <!-- <div class="col">
                    <h6 class="text-uppercase text-light ls-1 mb-1">Consultas</h6>
                    <h2 class="text-white mb-0">Agenda</h2>
                  </div> -->
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                      <li class="nav-item" data-toggle="chart" data-target="#chart-sales">
                      <a href="#" class="nav-link py-1 px-1 active" data-toggle="tab">
                        <span class="d-none d-md-block">Nova Consulta</span>
                      </a>
                    </li>
                    <li class="nav-item" data-toggle="chart" data-target="#chart-sales">
                        <a href="#" class="nav-link py-1 px-1 active" data-toggle="tab">
                            <span class="d-none d-md-block">Ver Calendario</span>
                        </a>
                      </li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="card-body">
              <% include ../partials/custom %>
              <div style="font-size: 14px" id='calendar'></div>


            </div>
          </div>
        </div>
        <div class="col-xl-5" id="viewConsultDashboard">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">  
                <div class="col">
                  <div class="form-group">
                          <label class="form-control-label">Consultas no(a)</label>
                          
                  </div>  
                  <a class="btn btn-primary primary"
                    href="">Semana</a>
                  <a class="btn btn-primary primary"
                    href="">Dia</a>
                  <a class="btn btn-primary primary"
                    href="">Data</a>
                </div>

              </div>
            </div>
            <div class="card-body" >              
              <div class="chart">
                  <% if (consult.length > 0) {%>
                  <% for (var i = 0; i < consult.length; i++) {%>
                      <label class="form-control-label">Paciente: <%= consult[i].consultPatient.name %></label>
                      <label class="form-control-label">Data: <%= moment(consult[i].dateStart).format('DD/MM/YYYY')%> Horario: <%=moment(consult[i].dateStart).format('HH:mm') %></label>
                      <label class="form-control-label">Atendente: <%= consult[i].consultTrainee.name%></label>
                      <hr class="my-2" />
                      <% } %>
                  <% } %>
                <canvas id="chart-orders" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Consultas Marcadas</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">Ver Mais</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Page name</th>
                    <th scope="col">Visitors</th>
                    <th scope="col">Unique users</th>
                    <th scope="col">Bounce rate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      /argon/
                    </th>
                    <td>
                      4,569
                    </td>
                    <td>
                      340
                    </td>
                    <td>
                      <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
        <div class="modal fade" id="viewConsult" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalhes da Consulta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <dl class="row">
                        <dt class="col-sm-3">Número da Consulta</dt>
                        <dd class="col-sm-9" id="id"></dd>

                        <dt class="col-sm-3">Paciente</dt>
                        <dd class="col-sm-9" id="patient"></dd>

                        <dt class="col-sm-3">Data/Hora da Consulta</dt>
                        <dd class="col-sm-9" id="dateStart"></dd>

                        <dt class="col-sm-3">Estagiario</dt>
                        <dd class="col-sm-9" id="trainee"></dd>
                    </dl>

                </div>
            </div>
        </div>
    </div>
        
      </div>
      <!-- Footer -->
      <% include ../partials/footer %>
    </div>
  </div>
  <!-- Include scripts -->
  <% include ../partials/scripts %>
</body>

</html>