    .selected-form{
    font-size: .875rem;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: .625rem .75rem;
    color: #8898aa;
    border-radius: .375rem;
    background-color: #fff;
    font-weight: 400;
    background-clip: padding-box;
}
.row-hidden{
    display: flex;
    margin-right: -15px;
    margin-left: -15px; 
    flex-wrap: wrap;
    display: none;
}

.buttons-schedules{
    display: flex;
}

#deletarHidden{
    float: right;
}

#esperaHidden{
    float: right;
}
#allConsultWeek{
    color: white;
}

.form-search-name{
    display: flex; 
    margin-bottom: 1.5em;
}
.form-search-name > button{
    margin-left: 2em;
}
#search-filter-field{
    display: none;  
}
