    .selected-form{
    font-size: .875rem;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: .625rem .75rem;
    color: #8898aa;
    border-radius: .375rem;
    background-color: #fff;
    font-weight: 400;
    background-clip: padding-box;
}
.row-hidden{
    display: flex;
    margin-right: -15px;
    margin-left: -15px; 
    flex-wrap: wrap;
}

.buttons-schedules{
    display: flex;
}

#deletarHidden{
    float: right;
}

#esperaHidden{
    float: right;
}
#allConsultWeek{
    color: white;
}

.form-search-name{
    display: flex; 
    margin-bottom: 1.5em;
}

#search-filter{
    display: flex; 
    margin-bottom: 1.5em;
}

#search-form-name, #search-form-date, #btn-consult-date, #btn-consult-name-date{
    margin-left: 2.0em;
}

#search{
    margin-left: 1.3em;

}
#btn-consult-name, #btn-consult-date, #btn-consult-name-date{
    margin-bottom: 2em;
}

.form-search-name > button{
    margin-left: 2em;
}

.dropdown-container{
    display: none;
    padding-left: 5% ;
  }

  
#dropdown-btn{ 
  background: none;
  border: none;
  text-decoration: none;
  padding-left: 0.9rem;
  cursor: pointer;
  outline: none;
}

#form-select{
    display: none;
}

.col-pad{
    padding-right: 0rem !important;
}

#completeConsultDays, #allConsultNext, #button-filter, #btn-filter-name, #btn-filter-date, #btn-filter-name-date{
    color: #fff
}