    .selected-form{
        font-size: .875rem;
        line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: .625rem .75rem;
    color: #8898aa;
    border-radius: .375rem;
    background-color: #fff;
    font-weight: 400;
    background-clip: padding-box;
}