<!DOCTYPE html>
<html>
<% include ../layout %>

<body>
    <!-- Sidenav -->
    <% include ../partials/sidebar %>
    <!-- Main content -->
    <div class="main-content">
        <!-- Top navbar -->
        <% include ../partials/navbar %>
        <!-- Header -->
        <% include ../partials/header %>
        <!-- Page content -->

        <div style="justify-content: center !important" class="row mt-4">
            <div class="col-xl-11 mb-5 mb-xl-0">
                <div class="card shadow">
                    <% include ../partials/message %>

                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Relatórios</h3>
                            </div>
                            <a href="/relatorios/report" class="btn btn-outline-success">Enviar Novo Relatório</a>
                            <a href="" class="btn btn-outline-primary">Filtrar</a>
                        </div>
                    </div>


                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Data do Relatório</th>
                                    <th scope="col">Nome do Paciente</th>
                                    <th scope="col">Supervisor</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>

                                <% if(reports.length > 0 ) {%>
                                <% for (var i = 0; i < reports.length; i++) { %>
                                <tr>

                                    <th scope="row">
                                        <%= moment(reports[i].dateSend).format('DD/MM/YYYY hh:mm') %>
                                    </th>
                                    <td>
                                        Teste 01
                                    </td>

                                    <% if(user.NivelPermissaoId == 1 ) {%>
                                    <td>
                                        <%= reports[i].reportTrainee.name  %>
                                    </td>

                                    <%} else if(user.NivelPermissaoId == 3 ) {%>
                                    <td>
                                        <%= reports[i].reportMaster.name  %>
                                    </td>
                                    <% } %>

                                    <td>
                                        <a class="btn btn-primary primary"
                                            href="relatorios/report/<%= reports[i].id %>">Visualizar</a>
                                    </td>





                                    <!-- <td>
                              <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                            </td> -->
                                </tr>
                                <% } %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <% include ../partials/footer %>

    </div>
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <% include ../partials/scripts %>

</body>

</html>