<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sistema Clinico</title>
    <script src="js/jquery-2.2.1.js"></script>

    <!-- bootstrap - link cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- incluindo css -->
    <link href="css/style.css" rel="stylesheet">

    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />

</head>

<div class="container">

    <% if(recepcionistas.length > 0) { %>
        <% for(var i = 0; i < recepcionistas.length; i++) {%>
            <div class="row">
                <div class="col-md-12">
                    <div class="noticia_wrapper">
                        <span class="noticia_autor"><%=recepcionistas[i].nomeRecepcionista%></span>
                          <span class="noticia_data"><%=recepcionistas[i].telefoneRecepcionista%></span>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	

</html>