<!DOCTYPE html>
<html>
<% include ../layout %>

<body>
    <!-- Sidenav -->
    <% include ../partials/sidebar %>
    <!-- Main content -->
    <div class="main-content">
        <!-- Top navbar -->
        <% include ../partials/navbar %>
        <!-- Header -->
        <% include ../partials/profile/header %>
        <!-- Page content -->

        <div class="container-fluid mt--7">
            <% if (error){ %>
            <%   for(var i = 0; i < error.length; i++){ %>
            <div class="alert alert-danger"><%= error[i].text %></div>
            <% } %>
            <% } %>
            <div class="row">

                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                </div>
                <div class="col-xl-10 order-xl-w">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Supervisores</h3>
                                </div>

                            </div>
                        </div>


                        <div class="card-body">

                            <form action="/paciente/save" method="POST">
                                <h6 class="heading-small text-muted mb-4">Informações do Supervisor</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-username">Nome
                                                    Completo</label>
                                                <input type="text" id="nomeMaster" name="name"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Nome Completo">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label">Contato</label>
                                                <input type="text" id="telefone" name="phone"
                                                    class="form-control form-control-alternative"
                                                    placeholder="Telefone">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-username">Data de
                                                    Nascimento</label>
                                                <input type="date" id="curso" name="dateBirth"
                                                    class="form-control form-control-alternative" placeholder="Curso">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label class="form-control-label">Genero</label>
                                                    <select class="form-control" name="sexo" id="gender"
                                                        data-placeholder="Selecione">
                                                        <option value="1">Feminino</option>
                                                        <option value="2">Masculino</option>
                                                    </select>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Endereço de
                                                    E-mail</label>
                                                <input type="email" id="emailMaster" name="email"
                                                    class="form-control form-control-alternative" placeholder="E-mail">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Permissoes</label>
                                                <% if (permissoes.length > 0) { %>
                                                <!-- <input type="text" id="fkPermissoes" name="fkPermissoes"
                                                        class="form-control form-control-alternative"
                                                        placeholder="E-mail" value="<%=// recepcionista.fkPermissoes %>">
                         -->
                                                <select class="form-control" name="NivelPermissaoId"
                                                    id="NivelPermissaoId" data-placeholder="Selecione">
                                                    <% for (var i = 0; i < permissoes.length; i++) {  %>
                                                    <option value="<%= permissoes[i].id %>" selected="select">
                                                        <%=permissoes[i].permissao  %>
                                                    </option>
                                                    <% } %>
                                                </select>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label">Senha</label>
                                                <input type="text" id="senha" name="password"
                                                    class="form-control form-control-alternative" placeholder="Senha"
                                                    value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4" />

                                <hr class="my-4" />
                                <input type="submit" class="btn btn-info" value="Salvar Registro"></input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <% include ../partials/footer %>

        </div>
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->
    <% include ../partials/scripts %>

</body>

</html>