<!DOCTYPE html>
<html>
<% include ../layout %>

<body>
    <!-- Sidenav -->
    <% include ../partials/sidebar %>
    <!-- Main content -->
    <div class="main-content">
        <!-- Top navbar -->
        <% include ../partials/navbar %>
        <!-- Header -->
        <% include ../partials/profile/header %>
        <!-- Page content -->

        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                </div>
                <div class="col-xl-10 order-xl-w">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Estagiários</h3>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">

                            <form action="/estagiario/save" method="POST">
                                <h6 class="heading-small text-muted mb-4">Informações do Estagiario</h6>
                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-username">Nome
                                                    Completo</label>
                                                <input type="text" id="nomeMaster" name="name"
                                                    class="form-control form-control-alternative"
                                                    require placeholder="Nome Completo">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label">Contato</label>
                                                <input type="text" id="telefone" name="phone"
                                                    class="form-control form-control-alternative"
                                                    require placeholder="Telefone">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-username">Curso</label>
                                                <input type="text" id="curso" name="course"
                                                    class="form-control form-control-alternative" placeholder="Curso">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label">Periodo</label>
                                                    <select class="form-control" name="period" id="periodo" disabled
                                                    data-placeholder="Selecione">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>

                                                </select>
                                          
                                                </div>

                                        </div>
                                    </div>
                                    <hr class="my-4" />
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-email">Endereço de
                                                    E-mail</label>
                                                <input type="email" id="emailMaster" name="email"
                                                require class="form-control form-control-alternative" placeholder="E-mail">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label">Senha</label>
                                                <input type="password" id="senha" name="password"
                                                require class="form-control form-control-alternative" placeholder="Senha"
                                                    value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="my-4" />
                                <input type="submit" class="btn btn-success" value="Salvar Registro"></input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <% include ../partials/footer %>

        </div>
    </div>
    <!-- Argon Scripts -->
    <!-- Core -->

</body>

</html>