<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta http-equiv=”Content-Type” content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Sistema Clinica Escola de Psicologia">
  <meta name="author" content="Allison Sousa Bahls">
  <title>Clinica Escola</title>

  <!-- Calendar -->

  <link href='/css/main.min.css'  type="text/css" rel='stylesheet' />
  <link href='/css/calendar.min.css'  type="text/css" rel='stylesheet' />
  <link href='/css/custom.css' type="text/css"  rel='stylesheet' />

  <link href="/css/select2.min.css" rel="stylesheet" />
  <link type="text/css" href="/css/custom.css" rel="stylesheet">
  <link href='/packages/core/main.css'  type="text/css" rel='stylesheet' />
  <link href='/packages/daygrid/main.css'  type="text/css" rel='stylesheet' />
  <link href='/packages/timegrid/main.css' type="text/css"  rel='stylesheet' />
  <link href='/packages/list/main.css'  type="text/css" rel='stylesheet' />

  <!-- BootstrapCDN-->
  <link rel="stylesheet"  type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Favicon -->
  <!-- <link href="/img/brand/favicon.png" rel="icon" type="image/png"> -->
  <!-- Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> -->
  <!-- Icons -->
  <link href="/vendor/nucleo/css/nucleo.css"  type="text/css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="/css/argon.css?v=1.0.0" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/guide/introjs.css">

  

</head>

<body>

</body>

</html>
